#photocard {
  overflow: hidden;
}
#photocard img {
  margin-left: 0px;
  animation: fromLeftPc 1s forwards;
}

@keyframes fromLeftPc {
  0% {
    transform: translate3d(400px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes toLeftPc {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(400px, 0, 0);
  }
}
